@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.dropdown {
    position: relative;
    border-radius: 50px;

}
.dropdown-btn{
    padding: 10px;
    cursor: pointer;
    font-family: poppins;
    font-size: 1.45vw;
    background-color: rgb(47, 46, 46);
    border: none;
    transition: 0.7s color;
    
}
.dropdown-content {
    position: absolute;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: var(--bar-bg-color);



}
/* slide animation */
.dropdown:hover .dropdown-content {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.dropdown-content div, .dropdown-content section{
    cursor: pointer;
    /* display: block; */
    background-color: var(--bar-bg-color);
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.2vw;

}

.dropdown-content div:hover {
    color: black;
    background-color: var(--hover-color);
}


.arrow {
    border: solid white;
    border-width: 0 0.25vw 0.25vw 0;
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    transition: border 0.7s;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .dropdown:hover .dropdown-btn{
    color: var(--hover-color);
    transition: 0.7s color;
    
  }
.dropdown:hover .dropdown-btn .arrow{
    border: solid var(--hover-color);
    border-width: 0 0.25vw 0.25vw 0;
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    transition: 0.7s border;
  }
 