

.dropdown {
    display: inline-block;
    position: relative;

}
.dropdown-btn{
    width: 200px;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    color: rgb(34, 61, 112);
}
.dropdown-content {
    position: absolute;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;


}
/* slide animation */
.dropdown:hover .dropdown-content {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;

}

.dropdown-content div {
    cursor: pointer;
    /* display: block; */
    background-color: aqua;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content div:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}